.row{
    display: flex;
   flex-wrap: wrap;
 
   justify-content: space-evenly;
   
}

.row{
    background-color:mediumspringgreen;
}

.child{
    width:220px;
    margin-top:30px;
    margin-bottom:30px;
    background-color:olive;
    border-radius: 30px;
    text-align: center;
   
    box-sizing: border-box;
    padding: 12px;
     box-shadow: 0px 2px 10px black;
}
.child img{
    border-radius:100%;
    display: block;
    margin: auto;
   width:40%;
    height: 6rem;
}
button{
    padding: 9px;
    border: 2px solid black;
    border-radius: 3px;
    background-color:red;
}
footer{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:rgba(0, 166, 255, 0.584);
    margin: none;
    padding: none;
}
ul{
    list-style-type:none;
}