nav h2{
    color:red;
    text-decoration: none;
}
nav{
    height:30px ;
    color:white;
}
*{
    margin:0px;
    padding: 0px;
}
main,.row{
    background-color:red;
}
a{
    text-decoration: none;
    color:red;
    margin-left:20px;
}
main{
    display:flex;
    justify-content: space-around;
    align-items: center;
  
    height:300px;
    color:white;
 
}
main .first{
    width: 390px;
    margin-left:90px;
}
main h1{
    height: 60px;
}
main img{
   width:200px;
   height:200px;
    margin-right: 50px;
    border-radius: 50%;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height:600px;
    background-color: red;
    gap:20px;
    padding: 12px;
}
.child{
    width:300px;
    align-items: center ;
   height: 280px;
   margin-right: 12px;
 padding: 12px;
   box-shadow: 0px 2px 10px black;
   box-sizing: border-box;
  
 
}
.child1{
  
  flex-grow: 1;
  background-color:rgb(105, 14, 18);
  
  
}
.child2{
    flex-grow: 1;
    background-color:rgb(105, 14, 18);
}
.child3{
    flex-grow: 1;
    background-color:rgb(105, 14, 18);
}
.child p{
    margin-top: 20px;
}
@media screen and (max-width:600px) {
 
   .child{
    height:300px;
   }
   .first p{
    font-size: 15px;
  
   }
   .first h1{
    font-size: 22px;
   }
   main{
    height:200px;
    display: flex;
    justify-content: flex-start;
    gap:20px;
   }
   .row{
    height:49rem;
    gap:40px;
   }
   .first{
    width:200px;
   }
   main img{
    width:120px;
    height:120px;
    border-radius: 50%;
   }
   main,.first,.row {
    background-color: red;
   }
   .child{
    height:14rem;
   }
   
}